.dart_tool/
.packages
build/
pubspec.lock
*.iml
.idea/
.DS_Store

# Large SDK binaries (download separately)
android/libs/mobilertc.aar
ios/MobileRTC.xcframework/ios-arm64/MobileRTC.framework/MobileRTC
ios/MobileRTC.xcframework/ios-arm64_x86_64-simulator/MobileRTC.framework/MobileRTC
